*Import pandas library and read csv file and assing it into dataframe.*

In [1]:
import pandas as pd
df = pd.read_csv('T1.csv',parse_dates=['Date/Time'])
df.head()

,Date/Time,LV ActivePower (kW),Wind Speed (m/s),Theoretical_Power_Curve (KWh),Wind Direction (°)
0,2018-01-01 00:00:00,380.047791,5.311336,416.328908,259.994904
1,2018-01-01 00:10:00,453.769196,5.672167,519.917511,268.641113
2,2018-01-01 00:20:00,306.376587,5.216037,390.900016,272.564789
3,2018-01-01 00:30:00,419.645905,5.659674,516.127569,271.258087
4,2018-01-01 00:40:00,380.650696,5.577941,491.702972,265.674286

*Rename the coloumn.*

In [2]:
df.rename(columns = {'Date/Time':'Date'}, inplace = True)

In [3]:
df.head()

,Date,LV ActivePower (kW),Wind Speed (m/s),Theoretical_Power_Curve (KWh),Wind Direction (°)
0,2018-01-01 00:00:00,380.047791,5.311336,416.328908,259.994904
1,2018-01-01 00:10:00,453.769196,5.672167,519.917511,268.641113
2,2018-01-01 00:20:00,306.376587,5.216037,390.900016,272.564789
3,2018-01-01 00:30:00,419.645905,5.659674,516.127569,271.258087
4,2018-01-01 00:40:00,380.650696,5.577941,491.702972,265.674286

In [4]:
type('Date[0]')

str

*Set index as Date coloumn.*

In [5]:
df.set_index('Date',inplace=True)
df.head()

,LV ActivePower (kW),Wind Speed (m/s),Theoretical_Power_Curve (KWh),Wind Direction (°)
Date,,,,
2018-01-01 00:00:00,380.047791,5.311336,416.328908,259.994904
2018-01-01 00:10:00,453.769196,5.672167,519.917511,268.641113
2018-01-01 00:20:00,306.376587,5.216037,390.900016,272.564789
2018-01-01 00:30:00,419.645905,5.659674,516.127569,271.258087
2018-01-01 00:40:00,380.650696,5.577941,491.702972,265.674286

*To fill the data make full list of day in year of 2018 at frequency of 10 min and reindex the dataframe.*

In [6]:
dt=pd.date_range("01-01-2018","01-01-2019",freq='10min')
idx = pd.DatetimeIndex(dt)
df = df.reindex(idx)
df.head()

,LV ActivePower (kW),Wind Speed (m/s),Theoretical_Power_Curve (KWh),Wind Direction (°)
2018-01-01 00:00:00,380.047791,5.311336,416.328908,259.994904
2018-01-01 00:10:00,453.769196,5.672167,519.917511,268.641113
2018-01-01 00:20:00,306.376587,5.216037,390.900016,272.564789
2018-01-01 00:30:00,419.645905,5.659674,516.127569,271.258087
2018-01-01 00:40:00,380.650696,5.577941,491.702972,265.674286

In [7]:
df.tail()

,LV ActivePower (kW),Wind Speed (m/s),Theoretical_Power_Curve (KWh),Wind Direction (°)
2018-12-31 23:20:00,1684.353027,7.332648,1173.055771,84.062599
2018-12-31 23:30:00,2201.106934,8.435358,1788.284755,84.742500
2018-12-31 23:40:00,2515.694092,9.421366,2418.382503,84.297913
2018-12-31 23:50:00,2820.466064,9.979332,2779.184096,82.274620
2019-01-01 00:00:00,NaN,NaN,NaN,NaN

In [8]:
df.describe()

,LV ActivePower (kW),Wind Speed (m/s),Theoretical_Power_Curve (KWh),Wind Direction (°)
count,50530.000000,50530.000000,50530.000000,50530.000000
mean,1307.684332,7.557952,1492.175463,123.687559
std,1312.459242,4.227166,1368.018238,93.443736
min,-2.471405,0.000000,0.000000,0.000000
25%,50.677890,4.201395,161.328167,49.315437
50%,825.838074,7.104594,1063.776283,73.712978
75%,2482.507568,10.300020,2964.972462,201.696720
max,3618.732910,25.206011,3600.000000,359.997589

*Fill nan values with mean of coloumns.*

In [9]:
new_df1=df.fillna({'LV ActivePower (kW)':1307.684332,'Wind Speed (m/s)':7.557952})

*Remove the unnessecary coloumns.*

In [10]:
new_df1.drop('Theoretical_Power_Curve (KWh)',axis=1,inplace=True)

In [11]:
new_df1.drop('Wind Direction (°)',axis=1,inplace=True)

In [12]:
new_df1.head()

                     LV ActivePower (kW)  Wind Speed (m/s)
2018-01-01 00:00:00           380.047791          5.311336
2018-01-01 00:10:00           453.769196          5.672167
2018-01-01 00:20:00           306.376587          5.216037
2018-01-01 00:30:00           419.645905          5.659674
2018-01-01 00:40:00           380.650696          5.577941

In [13]:
new_df1.describe()

       LV ActivePower (kW)  Wind Speed (m/s)
count         52561.000000      52561.000000
mean           1307.684332          7.557952
std            1286.851695          4.144689
min              -2.471405          0.000000
25%              71.586853          4.322062
50%             915.141724          7.320701
75%            2399.668945         10.143390
max            3618.732910         25.206011

*Save the data frame into csv file.*

In [15]:
new_df1.to_csv('file6.csv')